.container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas:
      "left   right"
      "left   right";
  }
  #navbar {
    grid-area: left;
    position: fixed;
    top: 0;
    
  }
  #main-doc {
    grid-area: right;
    border-left: 5px solid gray;
    padding: 10px;
  }
  .nav-link {
    display: grid;
    grid-template-rows: repeat(14, 1px);
    
    text-decoration: none;
    color: black;
    font-size: 20px;
    border-top: 1px solid #da70d6;
    padding: 10px;
  }
  
  .code {
    font-size: 15px;
    font-weight: bold;
    }
  @media (max-width: 600px){
    .container {
        grid-template-areas: 
        "left left"
        "right right"
  
    }
    #navbar {
        position: relative;
    }
    
  }
  